* {
  margin: 0;
  padding: 0;
}
#faqs {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 87.5%;
  width: 550px;
  margin: 0 auto;
  border: 3px solid rgb(0, 0, 0);
  padding: 15px 25px;
}
#copy {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-style: italic;
  text-align: center;
}
h1 {
  font-size: 150%;
  text-align: center;
  margin: 2%;
  font-size: 2em;
}
h3 {
  font-size: 120%;
  padding: 0.25em 0 0.25em 25px;
  cursor: pointer;
  background: url(../imgs/plus.png) no-repeat left center;
}
h3.minus {
  background: url(../imgs/minus.png) no-repeat left center;
}
a {
  color: black;
  text-decoration: none;
}
a:focus,
a:hover {
  color: blue;
}

/*div {
  display: none;
}
div.open {
  display: block;
} */

p {
  padding-bottom: 0.25em;
  padding-left: 25px;
}

footer{
  font-family: Century Gothic, serif;
  font-size: smaller;
  color: #eee;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 20px;
  background-color: black;
  text-align: center;
}
