body {
  margin: 0%;
  background-color: black;
}
.grid-container {
  display: grid;
  row-gap: 20px;
  grid-template-columns: auto auto;
  padding: 10px;
}
.grid-item {
  padding: 50px;
  font-size: 20px;
}
nav {
  margin: 3%;
}
nav a {
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  color: white;
}
h1 {
  background-color: black;
  color: goldenrod;
  text-align: center;
}
p {
  text-align: justify;
  color: white;
}
footer {
  font-family: Century Gothic, serif;
  font-size: smaller;
  color: #eee;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 20px;
  grid-column: 1/4;
}
#copyright {
  font-family: serif;
  font-style: italic;
  text-align: center;
}
