body {
  margin: 0%;
}
nav {
  font-family: Century Gothic, serif;
  text-align: center;
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
}
nav a {
  color: rgb(35, 102, 12);
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  display: inline-block;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 40px;
  padding-right: 40px;
}
nav a:hover {
  text-shadow: 0px 0px 1px rgb(20, 70, 20) â€;
}
header {
  background-color: rgb(65, 132, 42);
  color: #eee;
  background-image: url("../imgs/hand-grips-a-gardening-tool-to-cut-back-a-plant.jpg");
  background-size: cover;
  background-position: center;
  grid-row: 1 / span 1;
  grid-column: 1 / -1;
}
main {
  border-left-color: rgb(158, 194, 143);
  border-left-style: double;
}
footer {
  font-family: Century Gothic, serif;
  font-size: smaller;
  background-color: rgb(65, 132, 42);
  color: #eee;
  padding: 10px 10%;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  grid-row: 3 / span 1;
  grid-column: 1 / span 2;
}
footer nav a {
  color: #eee;
  display: block;
  text-align: left;
  padding: 0%;
}
footer > div {
  display: inline-block;
  flex-grow: 1;
}
ul {
  padding: 0%;
  list-style: none;
}
#copyright {
  font-family: serif;
  font-style: italic;
  text-align: center;
  width: 100%;
}

h3,
dt {
  font-family: sans-serif, Gabriola;
}
h1 {
  background-color: rgba(5, 72, 12, 0.5);
  font-size: 3em;
  font-weight: 300;
  font-family: Century Gothic, serif;
  line-height: 400%;
  text-align: center;
  margin: 0%;
}
h1 a {
  text-decoration: none;
  color: #eee;
}
.hover {
  text-shadow: 2px 2px 10px white;
}
h2 {
  font-size: 2em;
  font-family: sans-serif, Gabriola;
  color: rgb(35, 102, 12);
  text-transform: uppercase;
  letter-spacing: 1px;
}
h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
}
#heroimg {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
}
#wrapper {
  width: 90%;
  margin: auto;
}
#categories {
  margin: 0px 0px 40px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}
#categories section:nth-of-type(1) {
  grid-row: 1/3;
}
#categories section {
  margin-bottom: 20px;
}
#categories img {
  object-fit: cover;
  width: 100%;
  height: auto;
}
#categories h3 {
  margin-top: 0;
}
.item33 {
  width: 33%;
  display: inline-block;
}
#multicol {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.item25 {
  width: 23%;
  text-align: center;
  box-shadow: 0px 0px 20px #eee;
}
.icon {
  display: block;
  font-size: 3em;
  color: rgb(35, 102, 12);
}
.mobile {
  display: none;
}
#pagecontainer {
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: auto 1fr auto;
}

@media screen and (max-width: 1024px) {
  nav ul li {
    display: inline-block;
  }
  nav ul {
    display: flex;
    justify-content: space-around;
  }
  footer nav ul li {
    display: block;
  }
  footer nav ul {
    display: flex;
    flex-direction: column;
  }
  h1 {
    font-size: 2.5em;
  }
  nav a {
    padding: 10px 30px;
  }
  #categories section {
    width: 100%;
  }
  #pagecontainer {
    display: block;
  }
}
@media screen and (max-width: 760px) {
  #deskop {
    display: none;
  }
  #mobile {
    display: block;
  }
  nav {
    border-bottom: 1px solid rgb(158, 194, 143);
  }
  #multicol {
    display: flex;
    flex-wrap: wrap;
  }
  .item25 {
    width: 50%;
  }
  nav ul li {
    display: block;
  }
  nav ul {
    display: flex;
    flex-direction: column;
  }
  #categories {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  #categories img {
    width: 120px;
    height: 120px;
  }
  .item33 {
    float: none;
    display: block;
    padding-left: 40%;
  }
  footer > div {
    width: 100%;
  }
}
